#master {
    padding: 80px;
}

#start {
    text-align: center;
}

#start_button {
    background-color: rgba(00,192,60,1);
    border-radius: 100%;
    width: 250px;
    height: 250px;
    font-size: larger;
}

#start_button:hover {
    background-color: rgba(0, 210, 0, 1);
}

.start_text {
    margin: 80px;
    font-size: 30px;
}